## Table of Contents

### Introductions

#### Instructors:
    - Joseph Joseph.TenEyck@Target.com
    - Fred  John.Fredrickson@Target.com
    
### Development environments

    - Python( 2 or 3 your choice)
    - Jupyter Kernel
        - Nteract
        - Hydrogen
    
### Technology Whirlwind

    - Pandas Dataframe
    - Plotly graphing library

    
### Python Libraries
    
    - Pandas
    - Plotly
    
### Outputs

    - Graphs: offline vs online
    - Dashboards
        - Embedding
        - Websites
    - Presentations
    - Notebooks

## Pandas
[Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/)

> pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python.

Get pandas by " `pip install pandas` "

Add to program thru standard " `import pandas as pd` "

In [27]:
import pandas as pd

pd.__version__ # Retrieve the pandas version

pd.show_versions() # Show all releevant python and os related information

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.0.final.0
python-bits: 64
OS: Darwin
OS-release: 16.5.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.20.1
pytest: None
pip: 9.0.1
setuptools: 32.2.0
Cython: None
numpy: 1.12.1
scipy: None
xarray: None
IPython: 5.2.1
sphinx: None
patsy: None
dateutil: 2.6.0
pytz: 2017.2
blosc: None
bottleneck: None
tables: None
numexpr: None
feather: None
matplotlib: None
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: None
html5lib: 0.9999999
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.9.5
s3fs: None
pandas_gbq: None
pandas_datareader: None

## Adding Data to Pandas

pandas support a variety of read and write formats.

In [28]:
formats_df = pd.read_csv('pandas_read_formats.csv')
print(formats_df)

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas           NaN
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

For this class we will only use a couple.

   pandas can also read from a variety of locations. For the purposes of this class we will cocentrate on local files and files from the web that are in a known format. 

   In the code above "` formats = pd.read_csv('pandas_read_formats.csv')`" we are reading in the file "pandas_read_formats.csv" and assigning the returned values from the read to the variable `formats_df`.

   We can just as easily read from the web. I've stored the same file in my [GitHub repo for this workshop](https://github.com/teneyck/Threat_Hunting_Viz). We can use the same code to retrieve the file from there. By modifying the value passed to the `read_csv` method.

In [29]:
formats_df = pd.read_csv('https://raw.githubusercontent.com/teneyck/Threat_Hunting_Viz/master/pandas_read_formats.csv')
print(formats_df)

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas           NaN
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In the same manner we can read from json, or any of the other fomats.

In [30]:
formats_json_df = pd.read_json('https://raw.githubusercontent.com/teneyck/Threat_Hunting_Viz/master/pandas_read_formats.json')
print(formats_json_df) #TODO fix this.

        Data Description Format Type          Reader        Writer  index
0                    CSV        text        read_csv        to_csv      0
1                   JSON        text       read_json       to_json      1
2                   HTML        text       read_html       to_html      2
3        Local clipboard        text  read_clipboard  to_clipboard      3
4               MS Excel      binary      read_excel      to_excel      4
5            HDF5 Format      binary        read_hdf        to_hdf      5
6         Feather Format      binary    read_feather    to_feather      6
7                Msgpack      binary    read_msgpack    to_msgpack      7
8                  Stata      binary      read_stata      to_stata      8
9                    SAS      binary        read_sas          None      9
10  Python Pickle Format      binary     read_pickle     to_pickle     10
11                   SQL         SQL        read_sql        to_sql     11
12      Google Big Query         SQL        read_gbq        to_gbq     12

## Data is in but now what

 Once we have the data we can now look at it and try to find meaningful corolaries. We can manipulate the data in ways simliar to any other spreadsheet or application.
 
 We can look at the index of the data frame.

In [31]:
print(formats_df.index)

RangeIndex(start=0, stop=13, step=1)

We can look at the column names.

In [32]:
print(formats_json_df.columns)

Index(['Data Description', 'Format Type', 'Reader', 'Writer', 'index'], dtype='object')

We can look at the values.

In [33]:
print(formats_df.values)

[['text' 'CSV' 'read_csv' 'to_csv']
 ['text' 'JSON' 'read_json' 'to_json']
 ['text' 'HTML' 'read_html' 'to_html']
 ['text' 'Local clipboard' 'read_clipboard' 'to_clipboard']
 ['binary' 'MS Excel' 'read_excel' 'to_excel']
 ['binary' 'HDF5 Format' 'read_hdf' 'to_hdf']
 ['binary' 'Feather Format' 'read_feather' 'to_feather']
 ['binary' 'Msgpack' 'read_msgpack' 'to_msgpack']
 ['binary' 'Stata' 'read_stata' 'to_stata']
 ['binary' 'SAS' 'read_sas' nan]
 ['binary' 'Python Pickle Format' 'read_pickle' 'to_pickle']
 ['SQL' 'SQL' 'read_sql' 'to_sql']
 ['SQL' 'Google Big Query' 'read_gbq' 'to_gbq']]

We also can look at idividual lines using python slice notation.

In [34]:
formats_df[1:2]

  Format Type Data Description     Reader   Writer
1        text             JSON  read_json  to_json

We can also extract a single cell.

In [35]:
formats_df.iloc[1]['Reader']

'read_json'

We can also extract based on boolean operations.

In [36]:
formats_df.loc[formats_json_df['Format Type'] == 'text']

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard

We can then take that output and assign it to a variable as in python.

In [37]:
var1 = formats_df.iloc[1]['Reader']
print(type(var1))
print(var1)

<class 'str'>
read_json

Part of the diffucluty with extracting data from a dataframe is knowing and predicting how the data will be output. SO for example when we extract the values  using the '`.values`' we may expect something different then we actually get, in a cell above we '`print(formats_df.values)`.' It the output may be mistaken for a list of lists.

In [38]:
var2 = formats_df.values
print(var2)

[['text' 'CSV' 'read_csv' 'to_csv']
 ['text' 'JSON' 'read_json' 'to_json']
 ['text' 'HTML' 'read_html' 'to_html']
 ['text' 'Local clipboard' 'read_clipboard' 'to_clipboard']
 ['binary' 'MS Excel' 'read_excel' 'to_excel']
 ['binary' 'HDF5 Format' 'read_hdf' 'to_hdf']
 ['binary' 'Feather Format' 'read_feather' 'to_feather']
 ['binary' 'Msgpack' 'read_msgpack' 'to_msgpack']
 ['binary' 'Stata' 'read_stata' 'to_stata']
 ['binary' 'SAS' 'read_sas' nan]
 ['binary' 'Python Pickle Format' 'read_pickle' 'to_pickle']
 ['SQL' 'SQL' 'read_sql' 'to_sql']
 ['SQL' 'Google Big Query' 'read_gbq' 'to_gbq']]

But if we type it we get something different.

In [39]:
type(var2)

numpy.ndarray

What we end up with is a numpy ndarray, for our purposes it's enough to know this, but if you want more documentation can be found at [SciPY](https://docs.scipy.org/doc/numpy-1.12.0/reference/generated/numpy.ndarray.html)

### Data Manipulation
We can also take our dataframe and use it in the way we do conventional spreadsheets. For this portion of the notebook we will be using the data from [here.](https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv)

In [54]:
gdp_df = pd.read_csv("gapminder_unfiltered.csv")
df.head()

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3           3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           4  Afghanistan      Asia  1972   36.088  13079460  739.981106

This data is a compilation of the available information about population and gross domestic product for a variety of countries. It is one of the first examples of data science for the masses and we will use it as an homage to that fact. First we will just get a count of years the data is available for and then get the earliest year.

In [42]:
len(gdp_df['year'].unique()) # Puts unique values into an array and then prints length of that array

58

In [45]:
gdp_df.year.min() # note the switch in notation ".year" == ['year']

1950

#### Challenge

Find the  last year referenced in the data and the number of countries referenced.

We can also perform more complex tranforms on the data. In the below example we are gonna take the data for